<div class="container bigger-font">

<h2 class="text-center title-highlight">Edit Your Club</h1>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name, class: "highlight" %>
      <% end -%>
<div>
	<%= form_for @club do |f| %>
	  <%= f.hidden_field :user_id, value: current_user.id %>

	  <div class="form-group">
	    <%= f.label :club_name, value: "Club Name: " %><br />
	    <%= f.text_field :club_name, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :description, value: "Description: " %><br />
	    <%= f.text_field :description, autofocus: true, class: "form-control" %>
	  </div>

	  <div class="form-group">  
		<p>Is this club open to the public?</p>
	 	<%= f.label :is_public, "Public", :value => true %>
		<%= f.radio_button :is_public, true, class: "form-check-input" %>
		<%= f.label :is_public, "Private", :value => false %>
		<%= f.radio_button :is_public, false, class: "form-check-input" %>
	  </div>

	  <div class="form-group">
	    <%= f.label :club_pass, value: "Enter a password for your club: " %>
	        <%= f.text_field :club_pass, autofocus: true, class: "form-control" %>
	  </div>

  	  <div class="form-group">
    	<%= f.label "Upload an image" %>
    	<%= f.file_field :avatar, autofocus: true, class: "form-control-file" %>
 	  </div>

	  <div class="actions">
	    <%= f.submit "Update", class: "btn" %>
	  </div>
	<% end %>
</div>

<!-- Ability to delete -->
<div>
	<p><%= button_to "Delete This Club", @club, method: :delete, data: { confirm: "Are you sure you want to delete this club?" } %>	</p>
</div>

</div>
