<h1>All Book Clubs</h1>

<ul>
	<% @clubs.each do |club| %>
		<li><%= club.club_name %>: Coordinated by Id <%= club.user_id %>
			<%= button_to "View Club", club_path(club.id), :method => "get" %>

		</li>
	<% end %>
</ul>

<h4>All Clubs, by User:</h4>
<ul>
	<% @users.each do |user| %>
		<li>Coordinated by <%= user.fname %> <%= user.lname %>:
			<ul>
			<% user.clubs.each do |club| %>
				<li><p><%= club.club_name %></p>
					<%= button_to "View Club", club_path(club.id), :method => "get" %>
				</li>
			<% end %>
			</ul>
		</li>
	<% end %>
</ul>