
<div class="container">
	<h2 class="title-highlight">Find Book Clubs</h2>
		<%= form_tag(clubs_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Clubs" %>
  		<%= submit_tag "Search", :name => nil, class: 'search_button' %>
		<% end %>

	<h3 class="title-highlight">Public Book Clubs</h3>
	<div class="row">
		<% @clubs.each do |club| %>
			<% if club.is_public == true %>
			<div class="col-sm-4  all-clubs-display clubs">
				<div class="row">
					<div class="col-sm-3">
						<%= image_tag club.avatar.url, class: "club-logo" %>
					</div>
					<div class="col-sm-9">
						<%= link_to club.club_name, club_path(club.id), class: "highlight" %><br>
						<%= club.description %><br>
						<% @users.each do |user| %>
							<% if user.id == club.user_id %>
								Coordinated by: <%= user.fname %> <%= user.lname %><br>
								<%= user.email %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>

</div>
