
<div class="container">
	<h2 class="title-highlight">Find Book Clubs</h2>
	Search Box???

	<h3 class="title-highlight">Public Book Clubs</h3>
	<div class="row">
		<% @clubs.each do |club| %>
			<% if club.is_public == true %>
			<div class="col-sm-4  all-clubs-display">
				<div class="row">
					<div class="col-sm-3">
						<%= image_tag club.avatar.url %>
					</div>
					<div class="col-sm-9">
						<%= link_to club.club_name, club_path(club.id) %><br>
						<%= club.description %><br>
						<% @users.each do |user| %>
							<% if user.id == club.user_id %>
								Coordinated by: <%= user.fname %> <%= user.lname %><br>
								<%= user.email %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>

</div>
