<div class="container bigger-font">
	<h2 class="text-center title-highlight"><%= @club.club_name %></h2>

	<div class="row">
		<div class="col-sm-6">
			<!-- Club Info -->
			<div>
				<h3 class="highlight">Club Information</h3>
				<div class="row">
					<div class="col-sm-2">
						<!-- avatar -->
						<div>
							<%= image_tag @club.avatar.url, class: "club-logo" %>	
						</div>
					</div>
					<div class="col-sm-10">
						<p>
						<%= @club.club_name %><br>
						<%= @club.description %><br>
						<% if @club.is_public == true %>
							This club is public.<br>
						<% else %>
							This club is private.<br>
						<% end %>
						</p>
					<!-- Club Coordinator Info -->
						<% @users.each do |user| %>
							<% if user.id == @club.user_id %>
							<p>Club Coordinator: <%= user.fname %> <%= user.lname %><br>
							<%= user.email %></p>
							<% end %>
						<% end %>
					
						<% if current_user %>
							<% if current_user.id == @club.user_id %>
								<p>Club Password: <%= @club.club_pass %>
								<%= button_to "Edit Club", edit_club_path, :method => "get" %>
								</p>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<!-- Meetings Info-->
			<div>
				<h3 class="highlight">Meetings</h3>
				<!-- Add new Meeting -->
				<% if current_user %>
					<% if current_user.id == @club.user_id %>
						<%= button_to "Add Meeting", new_club_meeting_path(club_id: @club.id), :method => "get" %>
					<% end %>
				<% end %>
				<% @club.meetings.each do |meeting| %>
					<div class="row all-clubs-display">
						<div class="col-sm-3">
							<% if meeting.choice %>
								<%= image_tag meeting.book.image %>
							<% end %>
						</div>
						<div class="col-sm-9">
							<p><%= meeting.date %><br> 
							<% if meeting.choice %>Book Selection: <%= meeting.choice.book.title %> by <%= meeting.choice.book.author %><br>
							<% else %>No book has been selected for this meeting.<br>
							<% end %>	
							<%= link_to "Meeting Details", club_meeting_path(@club, meeting), :method => "get" %>
							</p>
						</div>	
					</div>
				<% end %>
			</div>
		</div>

	</div>
</div>

