<h1><%= @club.club_name %></h1>

<!-- Club Info -->
<div>
	<h3>Club Information</h3>
	<p>
		Club Name: <%= @club.club_name %><br>
		Description: <%= @club.description %><br>
		Is Public?: <%= @club.is_public %><br>
		Club Password: <%= @club.club_pass %><br>
		Club Coordinator: <%= @club.user_id %>
		<%= button_to "Edit Club", edit_club_path, :method => "get" %>
	</p>
</div>

<!-- Club Coordinator Info -->
<div>
	<h3>Club Coordinator</h3>
	<% @users.each do |user| %>
		<% if user.id == @club.user_id %>
			<p>Name: <%= user.fname %> <%= user.lname %><br>
			email: <%= user.email %>
			id: <%= user.id %></p>
		<% end %>
	<% end %>
</div>

<!-- avatar -->
<div style="width:100px;">
	<%= image_tag @club.avatar.url %>	
</div>

<!-- list meetings -->
<div>
	<h3>Meetings</h3>
	<ul>
		<% @club.meetings.each do |meeting| %>
			<li><%= meeting.date %> at <%= meeting.time %>. Meeting id: <%= meeting.id %>. Book Selection: <%= meeting.choice.book.title %> by <%= meeting.choice.book.author %>		
			<%= button_to "View Meeting", club_meeting_path(@club, meeting), :method => "get" %>
			</li>	
		<% end %>
	</ul>

	<!-- Add new Meeting -->
	<%= button_to "Add Meeting", new_club_meeting_path(club_id: @club.id), :method => "get" %>
</div>
