<div class="container bigger-font">
	<h2 class="text-center title-highlight">Welcome, <%= @current_user.fname %>!</h1>

	<div class="row">
		<div class="col-sm-4">
			<h3 class="highlight">Account Information</h3>
			<p><%= current_user.fname %> <%= current_user.lname %><br>
			<%= current_user.email %></p>

				<% if current_user %>
				<% if current_user.id == @user.id %>
				<%= button_to "Edit Account", edit_user_registration_path, :method => "get" %>
				<% end %>
			<% end %>
		</div>

		<div class="col-sm-8">
			<h3 class="highlight">Your Clubs</h3>
			<%= button_to "Create New Club", new_club_path, :method => "get" %>
			

			<% @user.clubs.each do |club| %>
			  <ul>
				<li><%= link_to club.club_name, club_path(club.id), class: "title-highlight" %> 
					<%= club.description %>
				</li>
			  </ul>
			<% end %>

		</div>
	</div>
</div>
