<h1>Welcome, <%= @current_user.fname %>!</h1>

<div>
	<h3>Account Info:</h3>
	<p><%= current_user.fname %> <%= current_user.lname %><br>
	<%= current_user.email %></p>

	<% if current_user %>
		<% if current_user.id == @user.id %>
			<%= button_to "Edit Account", edit_user_registration_path, :method => "get" %>
		<% end %>
	<% end %>
</div>

<div>
	<h3>Your Clubs</h3>
	<%= button_to "Create New Club", new_club_path, :method => "get" %>
	
	<ul>
	<% @user.clubs.each do |club| %>
		<li><%= club.club_name %> <%= button_to "View Club", club_path(club.id), :method => "get" %>
			<%= button_to "Edit Club", edit_club_path(club.id), :method => "get" %>
		</li>
	<% end %>
	</ul>
	
</div>