<div class="container">
  <h2 class="title-highlight">Sign Up and Start Your Book Club</h2>

  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :fname, value: "First Name: " %><br />
        <%= f.text_field :fname, :size=>"40", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :lname, value: "Last Name: " %><br />
        <%= f.text_field :lname, :size=>"40", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, :size=>"40", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, :size=>"40", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :size=>"40", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>